
  body {
    background-color: #EAF6F6;
  }
  hr {
    border-style: dotted none none;
    height: 0px;
    border-color: white;
    border-width: 8px;
    width: 8%;
  }

  img {
    height: 330px;
  }
